/* .all {
    padding: 40px;
} */

#card-all {
    display: flex;
    gap: 15px;
    margin: 10px auto;
    width: 60%;
    padding: 0;
}

#pic {
    /*блок фильма*/
    /* flex: 0 0 auto; */
    display: block;
    width: 300px;
    height: 400px;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        /* display: block; */
        margin-bottom: 15px;
    }

    .watch {
        background-color: #17929D;
        border: none;
        font-family: 'southghetto';
        font-size: 15px;
        color: #F3FEFF;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        letter-spacing: 1px;
    }

    .watch:hover {
        background-color: #69C6CE;
    }

    .save {
        font-size: 15px;
    }
}

#text {
    /* display: block; */
    font-family: sans-serif;
    width: 400px;
    height: 400px;
    margin: 0;

    h3 {
        font-family: 'southghetto';
        font-size: 40px;
        letter-spacing: 1px;
        color: #69C6CE;
        margin: 0;
        margin-bottom: 5px;
    }

    p {
        margin: 0;
    }
}

#list {
    h4 {
        font-family: 'southghetto';
        letter-spacing: 1px;
        margin: 0;
        /* color: #D5F1F3; */
    }

    #serialist {
        font-family: sans-serif;
        letter-spacing: 1px;
        margin: 0;
        /* color: #D5F1F3; */
    }
}

@media (max-width: 1024px) {

    #card-all {
        gap: 10px;
        /* width: 60%; */
    }

    #pic {
        /*блок фильма*/
        width: 250px;
        height: 350px;
    }


    #text {
        /* display: block; */
        font-family: sans-serif;
        width: 350px;
        /* color: #D5F1F3; */

        h3 {
            font-family: 'southghetto';
            font-size: 40px;
            letter-spacing: 1px;
            margin: 0;
            color: #69C6CE;
            margin-bottom: 5px;
        }
    }
}